@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&family=Rubik+Dirt&family=Rubik+Iso&family=Rubik+Marker+Hatch&family=Slabo+13px&family=Source+Sans+3:wght@300;600&display=swap');

body {
    border-top: solid 0.5em hsl(26, 87%, 67%);
    border-left: solid 0.5em hsl(26, 87%, 67%);
}

/* font-family: 'Rubik Burned', cursive;
font-family: 'Rubik Dirt', cursive;
font-family: 'Rubik Iso', cursive;
font-family: 'Rubik Marker Hatch', cursive;
font-family: 'Slabo 13px', serif;
font-family: 'Source Sans 3', sans-serif; */

#logo {
    color: #3f6c51;
    font-size: 7em;
    font-family: "Slabo 13px";
    /* font-style: italic; */
    display: flex;
    justify-content: left;
    width: 100%;
    padding: 0;
    margin: 8px;


}

/* .top-menu{
    display: flex;
    padding: auto;
    margin: 0.5em;
} */


.menu-items {
    display: flex;
    padding: 0;
    gap: 1em;
    justify-content: right;
    color: #3f6c51;
    font-style: "Source sans 3";
    font-size: 2em;
    width: 100%;
    box-sizing: border-box;


}

li {
    list-style: none;

}

.hero-img {
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    background-image: url("images/istockphoto-1328368631-612x612.jpg");
    height: 600px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.hero-img p{
    font-size: 9em;
    font-family: "Slabo 13px";
    color: #f17518;
    opacity: 0;
    transform: scale(0);
    transition: 0.9s;
}

.hero-img:hover p{
    opacity: 1;
    transform: scale(1);
}

/* #top-img {
    height: 77%;
    width: 77%;
    transform-style: preserve-3d;
} */

.about {
    font-size: 5em;
    font-family: "Slabo 13px";
    color: #3f6c51;
    gap: 1px;
    padding: 5px;

}

/* .about:hover {
    width: 100%;
    position: absolute;
} */



.intro {
    width: 70%;
    background-color: #c8bfc7;
    margin: 1em auto;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 2em;

}

.welcome1 {
    /* width: 70%;
    padding: 0;
    margin: 2em; */
    border: 1px solid black;
    font-family: "Rubik Burned";
    color: #3f6c51;
    background-color: hwb(80 95% 4%);
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    width: auto;
    height: auto;
}

#image1 {
    background: url("images/istockphoto-670415178-612x612.jpg") no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
}

#image2 {
    background: url("images/img-ancient-greek-philosophers.jpg") no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
}

#image3 {
    background: url("images/download.jpg") no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
}

#image4 {
    background: url("images/Greek-Philosopher-aristotle.jpg") no-repeat;
    height: 270px;
    width: 270px;
    border-radius: 50%;
    position: absolute;
    background-position: center;
    background-size: cover;
}

.welcome2 {
    width: 70%;
    padding: 0;
    margin: 2em;
    border: 1px solid black;

    font-family: "Rubik dirt";
    color: #3f6c51;
    background-color: hwb(80 95% 4%);
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;

}

.welcome3 {
    width: 70%;
    padding: 0;
    margin: 2em;
    border: 1px solid black;
    font-family: "Rubik iso";
    color: #3f6c51;
    background-color: hwb(80 95% 4%);
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.welcome4 {
    width: 70%;
    padding: 0;
    margin: 2em;
    border: 1px solid black;
    font-family: "Rubik marker hatch";
    color: #3f6c51;
    background-color: hwb(80 95% 4%);
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;

}


h1 {
    font-style: italic;
}

@media screen and (min-width:490px) {


    li:hover {
        color: #f17518;
        font-size: 150%;
        transition: ease-in 1s;
        justify-content: right;
    }

    .material-icons.md-100:hover {


        font-size: 150%;
        transition: ease-in 1s;
        /* justify-content: right; */
    }

}



.material-icons.md-100 {

    font-size: 100px;
    white-space: normal;
    position: relative;
    display: block;

}